body{
  background: #333;
}

h1{
  font-family: 'Berkshire Swash', cursive;
  color: #9eb5f3;
  
  letter-spacing: 3px;
  border-bottom: solid #b2fcbc 2px;
  padding-bottom: 10px;
}
.footer{
  margin-top: 6rem;
}